<label class="form-control w-full ">
  <div class="label"></div>
  <input
    type="{{type}}"
    placeholder="{{placeHolder}}"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    [ngClass]="{'border-errorColor': control.invalid && control.touched,'input-bordered border-colorSuccess': control.valid && control.touched}"
    [formControl]="control"
    id="inputId"
    [class.invalid]="control.touched || control.dirty && control.invalid && control.submit"
  />
  <ng-container *ngIf="control.touched || control.dirty && control.invalid">
    <div *ngFor="let err of control.errors | keyvalue"  class="label-text-alt text-errorColor">
      <br>
      <span>{{errorMessage[$any(err.key)]}}</span>
   </div>
  </ng-container>


</label>
