.active-item{
  background-color:#3F51B5;
  color: white;
  transition: all ;
  transition-duration: 400ms;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.mat-expansion-panel-header span{

  border-color: black;

}
