<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col px-6 py-8 mx-auto lg:py-0">
    <div>
      <!-- <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div class="flex gap-8">
          <div>
            <label
              for="firstName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >نام</label
            >
            <app-input
              [control]="customForm.controls['firstName']"
              inputId="firstName"
              placeHolder="نام"
              type="name"
            ></app-input>
          </div>
          <div>
            <label
              for="lastName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >نام خانوادگی</label
            >
            <app-input
              [control]="customForm.controls['lastName']"
              inputId="name"
              placeHolder="نام خانوادگی"
              type="name"
            ></app-input>
          </div>
        </div>

        <div class="flex gap-8">
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >نام پدر</label
            >

            <app-input
              [control]="customForm.controls['fatherName']"
              inputId="fatherName"
              placeHolder="نام پدر"
              type="name"
            ></app-input>
          </div>
          <div>
            <label
              for="number"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >شماره تماس</label
            >
            <app-input
              [control]="customForm.controls['number']"
              inputId="number"
              placeHolder="شماره تماس"
              type="name"
            ></app-input>
          </div>
        </div>
        <div class="w-[50%]">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >ایمیل</label
          >
          <app-input
            [control]="customForm.controls['email']"
            inputId="email"
            placeHolder="شماره تماس"
            type="email"
          ></app-input>
        </div>
      </div> -->
    </div>
  </div>
</section>
